export(snpboost)
export(get_coefficients)
export(predict_snpboost)
export(snpboost_multiple_phenos)
import(data.table)
import(tidyverse)
import(parallel)
import(bigsnpr)
import(ggplot2)
import(cowplot)
import(readr)
import(dataPreparation)
import(Rfast)
import(RcppGSL)
import(optparse)
import(stringr)
